[Unit]
Description=WiimScrobble
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=33
StartLimitBurst=5

[Service]
ExecStart=/home/pi/scrobble/scrobble.py
WorkingDirectory=/home/pi/scrobble
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target

